<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body ng-app="UFX" ng-controller="ufxCtrl">
     <div id="page-wrapper">
        <div id="top-section">
            <h1>UFX</h1>
            <div id="nav-btns">
               <input type="button" value="Post Listing" class="post-btn">
               <input type="button" value="Login/Signup" class="login-btn">
            </div>
        </div>
        <div id="search-section">
            <ul id="categories">
               <li class="category">Appliances</li>
               <li class="category">Automobiles</li>
               <li class="category">Bikes</li>
               <li class="category">Books</li>
               <li class="category">Cell Phones</li>
               <li class="category">Clothes</li>
               <li class="category">Collectibles</li>
               <li class="category">Electronics</li>
               <li class="category">Furniture</li>
               <li class="category">Music</li>
               <li class="category">Photo/Video</li>
               <li class="category">Tickets</li>
               <li class="category">Tools</li>
               <li class="category">Others</li>
            </ul>
            <input type="text" id="searchBar" placeholder="Search" ng-model="searchListing">
        </div>
        <div id="listings-section">
            <div class="listing" ng-repeat="x in a">
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfNbcFM1HkR6NJBLM8NfpDoZdH2sqgaBh1dRRv1h8W35sHIcAX3g" alt="" class="listing-img">
               <div id="listing-text">
                  <h5>Listing Title</h5>
                  <p id="listing-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pharetra orci et ante imperdiet, nec lobortis sem lobortis. Pellentesque feugiat turpis ac tellus auctor, in cursus massa dictum. Nullam posuere purus sed neque dictum feugiat. Proin quis velit a nulla dapibus facilisis non in nulla. Vestibulum accumsan urna nec nunc vulputate, congue lobortis sem ultrices. Pellentesque sed leo nec lectus feugiat efficitur. Ut at metus ut neque laoreet placerat eget ac lacus. Nunc dui sem, interdum ut tempor ac, faucibus ut orci. Maecenas lacinia pellentesque finibus. Suspendisse potenti.</p>
               </div>
               <ul id="listing-info">
                  <li><b>Seller/Buyer</b>: Seller</li>
                  <li><b>Category</b>: Other</li>
                  <li><b>Condition</b>: New</li>
                  <li><b>Asking Price</b>: $20</li>
                  <li><b>Payment Types</b>: Cash</li>
               </ul>
            </div>
        </div>
     </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="../../js/app.js"></script>
    <script src="js/factories/listingsFactory.js"></script>
    <script src="js/controllers/listingsController.js"></script>


  </body>
  <footer class="page-footer font-small">
    <!-- Copyright -->
    <div class="text-center">© 2018 Copyright: Skilled & 4 Hire</div>
    <!-- Copyright. -->
  </footer>
</html>
