#top-section{
   width: 100vw;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
}
#nav-btns input{
   /* width: 45%; */
   background: #fff;
   border: 1px solid #aaa;
   border-radius: 20px;
   padding: 7px;
   margin: 5px;
}
#search-section{
   padding: 20px;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
#categories{
   list-style-type: none;
   display: grid;
   grid-template-columns: auto auto auto auto auto auto auto;
   grid-row-gap: 25px;
   margin-top: 25px;
}
#searchBar{
   width: 350px;
   align-self: center;
   margin-top: 50px;
   margin-bottom: 30px;
}
.listing{
   display: flex;
   flex-direction: row;
   /* justify-content: space-between; */
   align-items: center;
   background: #aaa;
}
.listing > img{
   padding: 20px;
}
#listing-text{
   /* width: 200px;
   height: 200px; */
   /* padding-top: 15px; */
   max-width: 600px;
}
#listing-text h5{
   font-weight: bold;
}
#listing-description{
   margin-left: 20px;
}
#listing-info{
   list-style-type: none;
   margin-right: 100px;
   margin-left: auto;
   margin-top: 20px;
}
#listing-info > li{
   padding: 5px;
}
