html, body{
  background-image: url("https://images.unsplash.com/photo-1541256942802-7b29531f0df8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=28e4dc5bc17175cb7c786a7d838a8eaa&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}
/* Header Video and Video Text */
header .jumbotron{
  position: relative;
    overflow: hidden;
    height: 300px;
 
}
header .container {
  position: relative; /*left: 35%;*/
  color: #ffffff;
  z-index: 2;
}

#video-background{ 
  position: absolute;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}
/* Logo that displays over video */
.logo{
  margin: none;
  font-family: 'Bungee Shade', cursive;
  color: #eee;
  font-size: 5em;
  transition: all .5s;
}
.logo:hover{
  color: #FA4616;
  
}
#logo-link:hover{
  text-decoration: none;
}

/* Nav buttons that display over video */
#nav-btns{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

/* Listing cards */
.card{
  margin-top: 20px;
  margin-bottom: 5px;
}
.card-img-container{
  height: 50%;
  padding: 5px;
}
.card-img-top{
  max-height: 100%;
}
.zoom{
  transition: transform .2s;
}
.zoom:hover{
  transform: scale(1.1);
  position: relative;
  z-index: 2;
}


#top-section{
   border-bottom: 1px solid black;
   height: 250px;
}
.topSection{
   display: flex;
   flex-direction: row;
   height: 100%;
   justify-content: space-between;
   align-items: center;
   background-image: url("https://images.unsplash.com/photo-1541256942802-7b29531f0df8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=28e4dc5bc17175cb7c786a7d838a8eaa&auto=format&fit=crop&w=1350&q=80");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   padding: 40px;
}

.topSection h3{
   color: #FA4616;
}


.btn-group-vertical>.btn{
  color: #eee;
  background: #303030;
}
.btn-group-vertical>.btn:hover{
  color: #333;
  background: #eee;
}
.btn-group>.btn{
  background: #0021A5;
  color: #eee;
}
.btn-group>.btn:hover{
  color: #eee;
  background: #FA4616
}
.listing{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.category-btns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.category-btns btn{
  width: 100px;
  height: 100px;
}
#listing-text{
   margin-left: 20px;
}
#listing-description{
   padding: 20px;
}
#listing-info{
   list-style-type: none;
}
#listing-info li{
   margin: 5px;
}
#search-section{
   margin-top: -30px;
   background: #303030;
}
.categories-section input{
   margin-right: 5px;
   margin-top: 20px;
   margin-bottom: 5px;
   width: 80px;
   height: 80px;
   padding: 0;
}
.categories-section{
  padding-top: 50px;
}
.searchbar{
  padding-top: 50px;
  padding-bottom: 50px;
}
.table-striped>tbody>tr:nth-of-type(odd){
  background: #303030;
  height: 100px;
  color: #eee;
}
.table-striped>tbody>tr:nth-of-type(odd):hover{
  background: #666;
  cursor: pointer;
}
.table-striped>tbody>tr:nth-of-type(even){
  background: #444;
  height: 100px;
  color: #eee;
}
.table-striped>tbody>tr:nth-of-type(even):hover{
  background: #666;
  cursor: pointer;
}
.table-striped>tbody>tr:first-of-type{
  height: 30px;
}
.table-striped>tbody>tr:first-of-type:hover{
  background: #303030;
  cursor: auto;
}
.table-striped>tbody>tr>th{
  border: none;
  text-align: left;
  vertical-align: baseline;
  font-size: 1.3em;
}

footer{
  background-color: #303030;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 30px;
}


