<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="profile.css">
  </head>
  <body ng-app="app" ng-controller="profileController">
     
     <div id="page-wrapper">
        <div id="top-section" class="row">
           <div class="topSection col-sm-12">
               <h1>UFX</h1>
               <div id="nav-btns">
                  <input type="button" value="Logout" class="btn btn-primary">
               </div>
           </div>
        </div>
        <div id="user-info" class="row">
          <div class="col-sm-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfNbcFM1HkR6NJBLM8NfpDoZdH2sqgaBh1dRRv1h8W35sHIcAX3g" alt="" class="profile-img">
          </div>
          <div class="col-sm-3">
            <ul id="user-info-list">
               <li class="user-info-item">First Name: {{user.f_name}}</li>
               <li class="user-info-item">Last Name: {{user.l_name}}</li>
               <li class="user-info-item">Email: {{user.email}}</li>
               <li class="user-info-item">Username: {{user.username}}</li>
            </ul>
          </div>
          <div class="profile-btns col-sm-6">
            <input type="button" ng-click="editUser()" value="Edit Account Info" class="btn btn-default">
            <input type="button" value="Reset Password" class="btn btn-default">
          </div>
        </div>
        <div class="row">
           <div class="history-title col-sm-12">
              <h2>Listing History</h2>
           </div>
        </div>
        <div class="listing row">
           <div class="col-sm-2">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfNbcFM1HkR6NJBLM8NfpDoZdH2sqgaBh1dRRv1h8W35sHIcAX3g" alt="">
           </div>
           <div class="col-sm-6">
               <h4>Listing Title</h4>
               <p id="listing-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pharetra orci et ante imperdiet, nec lobortis sem lobortis. Pellentesque feugiat turpis ac tellus auctor, in cursus massa dictum. Nullam posuere purus sed neque dictum feugiat. Proin quis velit a nulla dapibus facilisis non in nulla. Vestibulum accumsan urna nec nunc vulputate, congue lobortis sem ultrices. Pellentesque sed leo nec lectus feugiat efficitur. Ut at metus ut neque laoreet placerat eget ac lacus. Nunc dui sem, interdum ut tempor ac, faucibus ut orci. Maecenas lacinia pellentesque finibus. Suspendisse potenti.</p>
           </div>
           <div class="col-sm-4">
              <ul id="listing-info">
                 <li><b>Seller/Buyer</b>: Seller</li>
                 <li><b>Category</b>: Other</li>
                 <li><b>Condition</b>: New</li>
                 <li><b>Asking Price</b>: $20</li>
                 <li><b>Payment Types</b>: Cash</li>
              </ul>
           </div>
        </div>
        <!-- <div class="listings row">
         <div class="listing-img col-sm-2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfNbcFM1HkR6NJBLM8NfpDoZdH2sqgaBh1dRRv1h8W35sHIcAX3g" alt="">
         </div>
         <div class="col-sm-10"></div>
        </div> -->
         <!-- <h2>Listing History</h2>
         <div class="listing" ng-repeat="x in a">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfNbcFM1HkR6NJBLM8NfpDoZdH2sqgaBh1dRRv1h8W35sHIcAX3g" alt="" class="listing-img">
            <div id="listing-text">
               <h5>Listing Title</h5>
               <p id="listing-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pharetra orci et ante imperdiet, nec lobortis sem lobortis. Pellentesque feugiat turpis ac tellus auctor, in cursus massa dictum. Nullam posuere purus sed neque dictum feugiat. Proin quis velit a nulla dapibus facilisis non in nulla. Vestibulum accumsan urna nec nunc vulputate, congue lobortis sem ultrices. Pellentesque sed leo nec lectus feugiat efficitur. Ut at metus ut neque laoreet placerat eget ac lacus. Nunc dui sem, interdum ut tempor ac, faucibus ut orci. Maecenas lacinia pellentesque finibus. Suspendisse potenti.</p>
            </div>
            <ul id="listing-info">
               <li><b>Seller/Buyer</b>: Seller</li>
               <li><b>Category</b>: Other</li>
               <li><b>Condition</b>: New</li>
               <li><b>Asking Price</b>: $20</li>
               <li><b>Payment Types</b>: Cash</li>
            </ul>
         </div> -->
     </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
    
    <!-- Angular Dependencies-->
    <script src="../../js/app.js"></script>
    <script src="js/factories/profileFactory.js"></script>
    <script src="js/controllers/profileController.js"></script>
        
    
    <!-- Auth0 dependencies -->
    <script src="https://cdn.auth0.com/js/lock-8.1.min.js"></script>
    <script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-auth0/dist/angular-auth0.js"></script>


  </body>
  <footer class="page-footer font-small">
    <!-- Copyright -->
    <div class="text-center">© 2018 Copyright: Skilled & 4 Hire</div>
    <!-- Copyright. -->
  </footer>
</html>
