.topSection{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 40px;
}
#nav-btns>.btn{
  border: none;
  color: #eee;
  background: #303030;
}
#nav-btns>.btn:hover{
  color: #333;
  background: #eee;
}
#profile-btns{
  margin-left: 40px;
  margin-bottom: -30px;
}
#profile-btns>.btn{
  background: #eee;
  border-radius: 3px 3px 0 0;
  outline: none;
}
.profile-clicked{
  border-bottom: none;
}
#profile-pic{
  border-radius: 3px;
  margin: 0px;
  padding: 0px;
}
#user-info{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   background: #303030;
   color: #eee;
}
#user-info-list{
   list-style-type: none;
   display: flex;
   background: #ddd;
   border-radius: 3px;
   padding: 20px;
   box-shadow: 0 0 2px inset #333;
}
#user-info-list li{
   margin: 5px;
}
.profile-btns{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.profile-btns input{
   margin: 10px;
}
.history-title{
   display: flex;
   justify-content: center;
   align-items: center;
}
#listing-details{
   color: #eee;
}
.modal-content {
   background-color: #e6d7d7;
   margin: auto;
   padding: 20px;
   border: 1px solid rgb(11, 11, 12);
   width: 80%;
   color: black;
}
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 0; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 200%; /* Full height */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#profile-row{
  margin: 30px;
}
#profile-section{
  background: #eee;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
#profile-picture{
  border: 20px solid #eee;
  border-radius: 200px;
  margin-top: -125px;
}
#top-row{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#top-row button{
  width: 15%;
  height: 40px;
  background: #eee;
  margin-top: -40px;
  border: none;
  border-radius: 5px 5px 0 0;
  transition: all .3s;
  outline: none;
}
#top-row button:hover{
  height: 35px;
  margin-top: -35px;
  background-image: linear-gradient(#bbb, #eee);
}
