html, body{
  background: #333;
}
form{
  background: #eee;
  border-radius: 5px;
}
#createListing{
  margin-top: 5%;
}
.listing-form{
  display: flex;
}
#left-side{
  width: 50%;
  padding: 20px;
}
#right-side{
  width: 50%;
  padding: 20px;
}
.row{
  margin: 0;
}
#submit-btn{
  margin-top: 30px;
}


/* form{
  color: #eee;
  background: #303030;
} */




/* #column {
  display: flex;
  flex-direction: column;
  font-family: Georgia, serif;
}
#header{
  background-color: rgb(226,143,65);
  font-family: Georgia, serif;
}
#radio-butons{
  display: flex;
}
body {
  background-color: rgb(108,154,195);
}
html {
  background-color: rgb(226,143,65);
}
#submit-button{
  display: flex;
  justify-content: center;
} */
