
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <h1>UFX | Create a new Listing</h1>
  <body>
    <form>
      <div class="row">
       <div class="col-md-6">
        <h2> Title of Listing: </h2>
        <input type="text" id="listing-name" placeholder="What are we trading?">
        <h2> Buying or Selling? </h2>
        <label for="buying"><input type="radio" id="buying" name="buying-selling">Buying</label>
        <label for="selling"><input type="radio" id="selling" name="buying-selling">Selling</label>
        <h2> Item Type: </h2>
        <select id="listing-item-type">
          <option> Textbooks </option>
          <option> Electronics </option>
          <option> Bikes </option>
          <option> Other </option>
        </select>
        <h2>Condition:</h2>
        <select id="listing-condition">
          <option> Mint </option>
          <option> Near Mint </option>
          <option> Slightly Used </option>
          <option> Used </option>
        </select>
        <h2> Asking Price: </h2>
        <input type="text" id="listing-price" placeholder="how much?">
        <label for="listing-price-neg"> Price Negotiable? </label><input type="checkbox" id"listing-price-neg">
        <h2> Payment Types Accepted: </h2>
        <label for="payType-money">Money</label><input type="checkbox" id="payType-money">
        <label for="payType-venmo">Venmo</label><input type="checkbox" id="payType-venmo">
        <label for="payType-other">Paypal</label><input type="checkbox" id="payType-other">
       </div>
       <div class="col-md-6">
         <h2> Proposed Meeting Location:</h2>
         <select id="listing-location">
           <option>The Hub</option>
           <option>Marston Science Library</option>
           <option>Library West</option>
           <option>Reitz Union</option>
         </select>
         <br />
         <h2>Description:</h2>
         <textarea id="listing-description" placeholder="What are you trying to sell?"></textarea><br />
         <h2> Photo to upload (Optional): </h2>
         <input type="text"> 
         <button>Browse</button>
         <br /><br />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <input type="submit" value="Submit Listing">
        </div>
      </div>
    </form>
  </body>
</html>