
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <h1>UFX | Create a new Listing</h1>
  <body ng-app="ufxApp">
    <form ng-submit="submit()">
      <div class="row">
       <div class="col-md-6">
        <h2> Title of Listing: </h2>
        <input type="text" id="listing-name" placeholder="What are we trading?" ng-model="newListingName">
        <h2> Buying or Selling? </h2>
        <label for="buying"><input type="radio" id="buying" name="buying-selling" ng-model="newListingBorS" ng-value="buying">Buying</label>
        <label for="selling"><input type="radio" id="selling" name="buying-selling" ng-model="newListingBorS" ng-value="selling">Selling</label>
        <h2> Item Type: </h2>
        <select id="listing-item-type"ng-model="newListingType">
          <option value="cars"> Cars </option>
          <option value="housing"> Housing </option>
          <option value="services"> Services </option>
          <option value="electronics"> Electronics </option>
          <option value="home and garden"> Home and Garden </option>
          <option value="other vehicle"> Other Vehicle </option>
          <option value="fashion"> Fashion </option>
          <option value="entertainment">Entertainment</option>
          <option value="other"> Other </option>
        </select>
        <h2>Condition:</h2>
        <select id="listing-condition" ng-model="newListingCond">
          <option value="new"> New </option>
          <option value="slightly used"> Slightly Used </option>
          <option value="used"> Used </option>
          <option value="beater"> Beater </option>
        </select>
        <h2> Asking Price: </h2>
        <input type="text" id="listing-price" placeholder="how much?" ng-model="newListingPrice">
        <label for="listing-price-neg"> Price Negotiable? </label><input type="checkbox" id="listing-price-neg" ng-model="newListingPriceNeg">
        <h2> Payment Types Accepted: </h2>
        <label for="payType-money">Money</label><input type="checkbox" id="payType-money" ng-model="newListingPayMoney">
        <label for="payType-venmo">Venmo</label><input type="checkbox" id="payType-venmo" ng-model="newListingPayVenmo">
        <label for="payType-other">Paypal</label><input type="checkbox" id="payType-paypal"ng-model="newListingPayPaypal">
       </div>
       <div class="col-md-6">
         <h2> Proposed Meeting Location:</h2>
         <select id="listing-location" ng-model="newListingLocation">
           <option value="the hub">The Hub</option>
           <option value="marston">Marston Science Library</option>
           <option value="library west">Library West</option>
           <option value="reitz union">Reitz Union</option>
         </select>
         <br />
         <h2>Description:</h2>
         <textarea id="listing-description" placeholder="What are you trying to sell?" ng-model="newListingDescription"></textarea><br />
         <!----TODO: finalizing functionality to upload photos-->
         <h2> Photo to upload (Optional): </h2>
         <input type="file" accept="image/png, image/jpeg" ng-model="newListingPhoto">  
         <!---^^^^^^-->
         <br /><br />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <input type="submit" value="Submit Listing">
        </div>
      </div>
    </form>
  </body>
</html>