<!DOCTYPE html>
<html lang = "en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<h1> UFX | Register for a new Account! </h1>
	<body ng-app="ufxApp">
		<h2>Username:</h2>
		<input type="text" id="acc-usrn" ng-model="newUserUserName">
		<h2>Password:</h2>
		<input type="text" id="acc-pswd" ng-model="newUserPass">
		<h2>Repeat Password:</h2>
		<input type="text" id="acc-pswd-rpt" ng-model="newUserPassRpt">
		<h2>First Name:</h2>
		<input type="text" id="acc-fname" ng-model="newUserFName">
		<h2>Last Name:</h2>
		<input type="text" id="acc-lname" ng-model="newUserLName">
		<h2>Email:</h2>
		<input type="text" id="acc-email" ng-model="newUserEmail">
		<h2>Photo (Optional):</h2>
		<!--TODO photo functionality-->
		<input type="text" id="acc-photo-loc" ng-model="newUserPhoto">
		<button>Browse</button>
		<br /><br />
		<input type="submit" value="Register!">
	</body>
</html>