/*#row {
    /* background-color: rgb(108,154,195);
    background-color: rgb(250,70,22);
}*/

html, body{
  background: #333;
}
form{
  background: #eee;
  border-radius: 5px;
}
h1 {
  color: #fff;
}
h2 {
  color: #fff;
}
p {
  color: #fff;
}
#listingDetails{
  margin-top: 5%;
}
#listingInfo{
  margin: 10px;
}
#buttonRow{
  align-items: center;
}
.listing-form{
  display: flex;
}
#left-side{
  width: 50%;
  padding: 20px;
}
#right-side{
  width: 50%;
  padding: 20px;
}
.row{
  margin: 0;
  height: 200%; /* Full height */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 0; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 200%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #e6d7d7;
    margin: auto;
    padding: 20px;

    border: 1px solid rgb(11, 11, 12);
    width: 80%;
}

#top-section{
   border-bottom: 1px solid black;
   height: 250px;
}
.topSection{
   display: flex;
   flex-direction: row;
   height: 100%;
   justify-content: space-between;
   align-items: center;
   background-image: url("https://images.unsplash.com/photo-1541256942802-7b29531f0df8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=28e4dc5bc17175cb7c786a7d838a8eaa&auto=format&fit=crop&w=1350&q=80");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   padding: 40px;
}
.topSection h1{
   margin: none;
   font-family: 'Bungee Shade', cursive;
   color: #eee;
   font-size: 5em;
   transition: all .5s;
}

.topSection h1:hover{
   color: #FA4616;
}

.topSection h3{
   color: #FA4616;
}
.topSection a:hover{
  text-decoration: none;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  padding-left: 100px;
}
