<!DOCTYPE html>
<html lang = "en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/main.css">
		<link rel="stylesheet" href="/listing-details.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />
		<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
		<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />
      <!---<h1> UFX | Listing Details! </h1> -->
	</head>
	<body ng-app="app">
		<div ng-controller="authController as authCtrl">
			<div ng-init="authCtrl.askRedirect()"></div>
		</div>
		<div ng-controller="detailsController as dc">
			<div id="top-section" class="row">
	       <div class="col-sm-12 topSection">
	         <div class="logo">
	           <a href="/">
	             <h1>UFX</h1>
	           </a>
	         </div>
	          <div id="nav-btns" ng-controller="authController as authCtrl">
	            <div class="nav-btns btn-group-vertical">
	              <a href="/profile" class="btn btn-default" ng-if="authCtrl.isAuthenticated()"><span class="glyphicon glyphicon-user"></span> Profile</a>
	              <button type="button" class="btn btn-default" ng-if="!authCtrl.isAuthenticated()" ng-click="authCtrl.login()"><span class="glyphicon glyphicon-log-in"></span> Login/Signup</button>
	              <button type="button" class="btn btn-default" ng-if="authCtrl.isAuthenticated()" ng-click="authCtrl.logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</button>
	            </div>
	          </div>
	       </div>
			 </div>
		<!--
			To Frontend:
			The details Controller has the listing for the page in it.
			Access it using dc.listing.

		-->
	<div ng-controller="detailsController as dc">
			<div class="images">
				<div id="product-img">
    			<img src="data:image/png;base64,{{dc.listing.picture}}" width="450" height="450">
				</div>
			</div>
				<div class="wrapper">
						<h1 align="center">{{dc.listing.title}}</h1>
						<p align="center">{{dc.listing.category}}</p>
					<div id="product-price">
						<h2>Asking Price:</h2>
							<p>{{dc.listing.price}}</p>
						<h2>Payment Accepted:</h2>
							<p ng-model="dc.listing.payment">{{payment}}</p>
						<h2>Condition:</h2>
								<p>{{dc.listing.item_condition}}</p>
						<!-- TODO: make a function that can take the objects uid-->
						<h2>Posted by: {{dc.user.f_name}} {{dc.user.l_name}} </h2>
								<p><strong>User Rating:</strong> 8.5/10</p>
								<div class="row" id="buttonRow" style="margin: 5px">
										<div ng-controller="homeController">
												<input type="button" id="myBtn" class="btn btn-default btn-sm" ng-click="contactSeller()" value="Contact Seller">
															<!-- The Modal -->
													<div id="myModal" class="modal">
														<!-- Modal content -->
														<div class="modal-content">
													<!--  <span class="close">&times;</span>  -->
														<div id='map'></div>
														<input type="button" id="confirmLocation" class="btn btn-default btn-sm" ng-click="confirmLocation()" value="Confirm">
														</div>
												</div>
											</div>
										</div>
						</div>
				<div id="product-description">
					<h2>Description:</h2>
					<p>{{dc.listing.description}} </p>
				</div>
		</div>
	</div>
</div>
	<!-- Import Scripts -->
    <!-- JS files should be the last thing in the body -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
	<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
	<script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>

	<!-- Auth0 dependencies -->
    <script src="https://cdn.auth0.com/js/lock-8.1.min.js"></script>
    <script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
    <script type="text/javascript" src="/node_modules/angular-auth0/dist/angular-auth0.js"></script>

	<!-- Angular JS app, modules, services -->
    <script src="/js/app.js"></script>
    <script src="/js/detailsController.js"></script>
		<script src="/js/listingsFactory.js"></script>
		<script src="/js/homeController.js"></script>
		<script src="/js/mapFactory.js"></script>
		<script src="/js/authController.js"></script>
		<script src="/js/authFactory.js"></script>

	</body>
</html>
