/*#row {
    /* background-color: rgb(108,154,195);
    background-color: rgb(250,70,22);
}*/

html, body{
  background: #333;
}
form{
  background: #eee;
  border-radius: 5px;
}
h1 {
  color: #fff;
}
h2 {
  color: #fff;
}
p {
  color: #fff;
}
#listingDetails{
  margin: 70px;
  background: #eee;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;
}
#details{
   display: flex;
}
#left-side{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   overflow: hidden;
}
#left-side p{
   color: #303030;
   margin-top: 30px;
   margin-right: 30px;
}
#right-side *{
   color: #303030;
}
img{
   width: 300px;
   height: 300px;
   border-radius: 3px;
   box-shadow: 0 0 4px #303030;
}
#listingInfo{
  margin: 10px;
}
#buttonRow{
  align-items: center;
}
.listing-form{
  display: flex;
}
#left-side{
  width: 50%;
  padding: 20px;
}
#right-side{
  width: 50%;
  padding: 20px;
}
header .jumbotron{
  position: relative;
    overflow: hidden;
    height: 300px;
}
header .container {
  position: relative; /*left: 35%;*/
  color: #ffffff;
  z-index: 2;
}

.wrapper {
    width:1300px;
    margin: 0 auto;
}

.images {width:450px;float:left;}
#product-img {border: 1px solid #ccc; padding: 3px; float: left; margin-top: 10px;}
#product-details {margin-top: 0px;}
#product-description {float: right; width: 500px; word-wrap: break-word;}
#product-price {margin: 10px; width: 350px; float: left; font-weight: bold;}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 0; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #e6d7d7;
    margin: auto;

    border: 1px solid rgb(11, 11, 12);
    width: 80%;
    height: 80%;
}

/* Nav buttons that display over video */
#nav-btns{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.nav-btns .btn{
   border: none;
   transition: all .15s ease-in-out 0s;
   width: 100px;
   padding: 8px;
   border-radius: .25rem;
}

#map{
  position:absolute;
  top:0;
  bottom:0;
  right: 0;
  left: 0;
  height:auto;
  width:auto;
}
#confirmLocation{
  position:absolute;
  top:0;
  bottom:0;
  right: 0;
  left: 0;
  height:auto;
  width:auto;
  background-color: darkorange;
  border-radius: 5px;
}

#top-section{
  border-bottom: 1px solid black;
   height: 250px;
}
.topSection{
   display: flex;
   flex-direction: row;
   height: 100%;
   justify-content: space-between;
   align-items: center;
   background-image: url("https://images.unsplash.com/photo-1541256942802-7b29531f0df8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=28e4dc5bc17175cb7c786a7d838a8eaa&auto=format&fit=crop&w=1350&q=80");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   padding: 40px;
}

.topSection h1{
   margin: none;
   font-family: 'Bungee Shade', cursive;
   color: #eee;
   font-size:  1em;
   transition: all .5s;
}
.topSection h1:hover{
   color: #FA4616;
}

.topSection h3{
   color: #FA4616;
}
.topSection a:hover{
  text-decoration: none;
}
